spring:
  application:
    name: spring-webflux-essentials

  r2dbc:
    url: r2dbc:postgresql://localhost:54331/postgres?schema=anime
    username: root
    password: root

  sql:
    init:
      mode: always
      continue-on-error: false
      schema-locations: classpath:schema.sql, classpath:schema-user.sql
      data-locations: classpath:data.sql

server:
  port: 8090
  compression:
    enabled: false

logging:
  level:
    org:
      springframework:
        data:
          r2dbc: INFO
    io:
      r2dbc:
        postgresql:
          QUERY: DEBUG
          PARAM: DEBUG